In [1]:
import pandas as pd
import numpy as np

from pathlib import Path


data_dir = Path("Dataset")

## Load dataframes

In [ ]:
listens = pd.read_csv(data_dir / "listens.csv", index_col=False)
listens = listens[listens['uid'].map(listens['uid'].value_counts()) >= 1000] # we only want users with at least 1000 interactions
listens

In [4]:
tot = {}
for usr in listens['uid'].unique():
    subset = listens[listens["uid"] == usr]
    if len(subset) > 1000:
        tot[usr] = len(subset)
len(tot)

5022

In [5]:
samples = 0

for usr, s in tot.items():
    samples += (s // 250) * 3 - 2
samples

253560

In [6]:
import pandas as pd

# Example DataFrame
df = listens

# Threshold: keep only values that appear at least 3 times
threshold = 1000
col = 'uid'

df = df[df[col].map(df[col].value_counts()) >= threshold]
df

,uid,timestamp,item_id,is_organic,played_ratio_pct,track_length_seconds
0,100,104725,732449,1,1,240
1,100,287910,5699545,1,100,120
2,100,1265850,4943655,1,100,165
3,100,1265990,8046835,1,100,180
4,100,1266160,8661238,1,100,170
...,...,...,...,...,...,...
24002194,999600,25535500,6665861,1,32,235
24002195,999600,25535645,217579,1,99,145
24002196,999600,25679615,982094,1,100,205
24002197,999600,25762255,3743839,1,99,130
24002198,999600,25763070,5224067,1,99,160